@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body {
  //font-weight: 300;
  line-height: 1.43;
  word-break: break-word;
  //font-family: 'Inika', sans-serif;
}

button, select {
  font-family: 'Inika', sans-serif;
}