#select-root {
  width: 300px;
  height: 50px;
  background-color: #E9F1FA;
  border-radius: 26px;
  position: relative;

  select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 12px 18px;
    outline: none;
    appearance: none;
    font-size: 16px;
    color: #18333E;
    //font-family: 'Inika', sans-serif;
  }

  .arrow {
    position: absolute;
    top: 32%;
    right: 18px;
  }
}